body {
    text-align: center;
    cursor: url('12.png') 8 8, auto;
    background-image:url('Background.jpg')
}



h1 {
    font-size: xx-large;
}
img {width: 200px; height: 200px;
    text-align: left;
}

img.big {width: 500px; height: 400px;}

p {
    color: white;
    text-align: left;
}



h1 {color: white;}

h2 {color: white;}

a {
    color: red;
    font-size:large;    
}

a:hover {color: blue;}

ol {color:white;
    font-size:xx-large;}








